
#jumboTrainSched{
    color: rgb(33, 55, 142);
    padding-left: 20px;
    padding-right: 20px;
    border: 5px solid rgb(189, 10, 109);
}
#Welcome{
    color: rgb(116, 49, 210);
    padding-left: 20px;
}
#steps{
    font-size: 20px;
    

}
#styleSteps{
    font-size: 30px;
    color: rgb(189, 10, 109);;
}